---
import '@fontsource-variable/baloo-2'
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Message from '../components/Message.astro';
import Partners from '../components/Partners.astro';
---

<Layout title="Welcome to Astro.">
	<Header></Header>
	<main>
		<Hero></Hero>
		<Features></Features>
		<Message></Message>
		<Partners></Partners>
	</main>
</Layout>
