<button>Try for free</button>
<style>
  button {
    margin-top: 50px;
    padding: 8px 30px;
    border-radius: 20px;
    background-color: var(--secondary);
    border: none;
    color: var(--primary);
    font-weight: bold;
    font-size: 0.8rem;
  }
</style>
