<footer>
  <div class="footer-container">
    <div class="footer-column">
      <div>
        <ul>
          <h4>Pages</h4>
          <li>Home</li>
          <li>Product</li>
          <li>Pricing</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Eleanor Edwards</li>
          <li>Ted Robertson</li>
          <li>Annette Russeli</li>
          <li>Jennie Mckinney</li>
          <li>Gloria Richards</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Philip Jones</li>
          <li>Product</li>
          <li>Collen Russell</li>
          <li>Marvin Hawkins</li>
          <li>Bruce Simmons</li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
    .footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-column{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
</style>