<header>
  <nav>
    <ul>
      <div>
        <a href="">Home</a>
        <a href="">Product</a>
        <a href="">Pricing</a>
        <a href="">About</a>
        <a href="">Contact</a>
      </div>
    </ul>
    <div>Icons</div>
  </nav>
</header>

<style>
  header {
    position: absolute;
  }
  nav {
    display: flex;
    color: var(--primary);
  }
  ul {
    color: var(--primary);
  }

  a {
    text-decoration: none;
    color: var(--principal);
  }
</style>
