<section>
  <div id="Inicio">
    <h1>The best products start with Figma</h1>
    <h3>
      Most calendars are designed for teams. Slate is designed for freelancers
    </h2>
    <button>Try for free</button>
  </div>
</section>

<style>
  #Inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(principal-img.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1{
    max-width: 600px; 
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary);
    text-align: center;
  }
  h3{
    max-width: 700px;
    font-size: 1.5rem;
    font-weight: semibold;
    color: var(--primary);
    text-align: center; 
  }
  button{
    margin-top: 50px;
    padding: 8px 30px;
    border-radius: 20px;
    background-color: var(--secondary);
    border: none;
    color: var(--primary);
    font-weight: bold;
    font-size: 0.8rem;
  }
</style>
